@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  /* *{
    @apply transition-colors duration-300 ease-in-out;
  } */
  html {
    font-size: 62.5%; /* 1rem = 10px */
  } 
}
@layer components{
  .dark{
    --main-bg:#313E51;
    --primary-text:#f1f5f9;
    --secondary-text:#ABC1E1;
    
    --btn-bg:#3B4D66;
    --purple:#A729F5;
  
    @apply bg-[url("/assets/images/pattern-background-mobile-dark.svg")] bg-bgPrimary text-tBase;
  }
  .light{
    --main-bg:#f4f6fa;
    --primary-text:#313E51;
    --secondary-text:#626C7F;
    
    --btn-bg:#fff;
    --purple:#A729F5;
  
    @apply bg-[url("/assets/images/pattern-background-mobile-light.svg")] bg-bgPrimary text-tBase;
  }
}



/* header element style */



/* frontEndQuiz div style */

.frontEndQuiz button{
  @apply flex justify-start items-center gap-4 text-lg bg-bgButton p-2 rounded-[1.2rem];
}
.frontEndQuiz button span:first-child{
  @apply rounded-xl;
}
span[id="HTML"]{
  @apply bg-[#FFF1E9];
}
span[id="CSS"]{
  @apply bg-[#E0FDEF];
}
span[id="JavaScript"]{
  @apply bg-[#EBF0FF];
}
span[id="Accessibility"]{
  @apply bg-[#F6E7FF];
}