body {
  background-image: url('./assets/images/pattern-background-tablet-dark.svg');
  background-size: cover; /* This ensures the image covers the whole background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the background image */
  background-color: #0f172a;
}