:root{
    --color-slate-900:#0f172a;
    --color-slate-200:#e2e8f0;
    --color-teal-900:#134e4a;
    --color-slate-100:#f1f5f9;
}
#modeButton{
    background-color:var(--color-slate-200);
    border-radius: 50px;
    position: relative;
    height: 28px;
    width: 60px;
    z-index: 10;
    perspective: 500px;
    transition: all 0.3s;    
}
#modeButton svg:first-child{
    position: absolute;
    top: 50%;
    left: 5%;
    transition: all 0.3s ;
    transform: translate(-50%,-50%);
    opacity: 0;
}
#modeButton svg:last-child{
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(50%,-50%);
    transition: all 0.3s ;
    opacity: 1;
}
#modeButton span{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    transition: all 0.3s;
}
#modeButton svg{
    height: 20px;
    width: 20px;
    color: #0e7490;
}
#modeButton:hover{
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2) ,-1px -1px 2px 1px rgba(0,0,0,0.2);
}
#modeButton span{
    background-color:white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #d1d5db;
}
