#modeButton{
    background-color: rgba(0,0,0,0.07);
    border-radius: 50px;
    position: relative;
    height: 28px;
    width: 60px;
    z-index: 10;

    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
#modeButton svg:first-child{
    position: absolute;
    top: 0;
    left: -50%;
    transition: all 0.5s ;
}

#modeButton svg:first-of-type{
    opacity: 0;
    transition: all 0.3s;
    transform: scale(0);
    z-index: -10;
}
#modeButton div{
    position: absolute;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
    width: 150%;
    height: 100%;
}
#modeButton svg{
    height: 20px;
    width: 20px;
    color: #0e7490;
}
#modeButton:hover{
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2) ,-1px -1px 4px 1px rgba(0,0,0,0.2);
}
#modeButton span{
    background-color:white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #d1d5db;
}
